# Root 
node_modules/
dist/
.env

# Client-specific .gitignore
veegil-client/node_modules/
veegil-client/.git/

# Server-specific .gitignore
veegil-server/node_modules/

veegil-server/.env

veegil-server/.git/
